.dashboard-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.card-section{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    margin-right: 30px;
}
.card{
    width: 310px;
    height: 180px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh3zEiGNZh5ltDk81nUUgZ0SiGl_MLO9qYbg&usqp=CAU');
    border-radius: 20px;
    color: white;
    font-weight: 900;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header{
    font-size: 19px;
}
.card-amount{
    font-size: 23px;
}
.card-amount .cents{
    font-size: 17px;
}
.card-cvv{
    font-size: 16px;
}
.card-menu-icon{
    font-size: 23px;
    cursor: pointer;
}
.card-menu-icon:hover, .card-menu-icon:active{
    color: #e6e6e6;
}
.mastercard-logo{
    font-size: 20px;
    color: white;
}
.card-details{
    color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-details-left, .card-details-right{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Proxima';
    font-size: 15px;
}
.card-detail, .card-detail-value{
    padding: 9px 0px;
}
.card-detail-value{
    font-weight: 900;
}
.card-detail-value .cents{
    font-size: 10px;
}
.tiers{
    font-weight: 900;
    cursor: pointer;
    font-family: 'Proxima';
}
.tier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 310px;
    padding: 25px 20px;
    box-sizing: border-box;
    font-size: 15px;
    margin: 30px 0px;
    border-radius: 8px;
    
}
.gold{
    color: black;
    background-color: hsl(71, 74%, 58%);
}
.gold:hover{
    background-color: hsl(71, 75%, 80%);
}
.junior{
    color: white;
    background-color: #3E9C70;
}
.junior:hover{
    background-color: #5bbe90;
}
.tier-price{
    font-size: 19px;
}
.tier-price .cents{
    font-size: 12px;
    font-weight: 900;
}
.gold .cents{
    color: #4d4d4d;
}
.junior .cents{
    color: #cccccc;
}
.new-card{
    font-size: 15px;
    width: 310px;
    padding: 25px 20px;
    box-sizing: border-box;
    font-size: 15px;
    margin: 30px 0px;
    text-align: center;
}
.new-card:hover{
    opacity: 0.7;
    background-color: #cccccc;
    border-radius: 8px;
}

.transfer-section{
    display: flex;
    flex-direction: column;
    font-family: 'Proxima';
    margin: 0px 10px;
    margin-left: 30px;
}
.quick-transfer{
    display: flex;
    flex-direction: column;
}
.quick-transfer .head, .money-flow .head, .transactions-top > div > .head{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.transfer-inputs{
    display: flex;
    flex-direction: row;
}
.transfer-inputs input{
    padding: 9px 20px;
    color: #262626;
    margin-right: 12px;
    font-size: 13px;
    outline: none;
    border: none;
    background-color: #E6E6E6;
    border-radius: 5px;
    transition: 0.1s;
}
.card-input{
    width: 220px;
}
.amount-input{
    width: 180px;
}
.proceed-button{
    outline: none;
    border: none;
    padding: 11px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    background-color: #17161B;
    color: white;
    border-radius: 7px;
    width: 40px;
}
.proceed-button:hover, .proceed-button:active{
    background-color: #3c3946;
}

.money-flow{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.money-flow .head{
    padding: 5px 0px;
}
.money-flow-filters{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.income, .calendar-filter{
    padding: 5px 7px;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 4px;
    transition: 0.2s;
    font-family: 'Proxima';
    font-size: 15px;
}
.income{
    word-spacing: 5px;
    display: flex; 
    align-items: center;
    margin-right: 20px;
}
.income:hover, .calendar-filter:hover{
    background-color: #E6E6E6;
}
.dot{
    font-size: 7px;
    color: #a9c81e;
}
.down{
    cursor: pointer;
}
.transactions{
    margin-top: 20px;
}
.transactions-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.transactions-menu-icon{
    padding: 8px;
    background-color: #E6E6E6;
    border-radius: 5px;
    height: fit-content;
    cursor: pointer;
}
.transactions-menu-icon:hover, .transactions-menu-icon:active{
    opacity: 0.8;
}
.transactions-table{
    margin-top: 30px;
}
table{
    border: 0px;
    border-collapse: collapse;
    font-family: 'Proxima';
    width: 100%;
}
.table-head, .td-date{
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 600;
}
tbody{
    margin-top: 40px;
}
.transaction-name{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.td-icon img{
    height: 30px;
    width: 30px;
    padding: 5px 10px 0px 0px;
}
.td-details{
    display: flex;
    flex-direction: column;
}
.td-head{
    font-weight: 900;
}
.td-date{
    font-size: 13px;
}
.td-credit{
    color: #3E9C70;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
}
.td-debit{
    font-weight: 900;
    font-size: 15px;
    color: #333333;
}
.td-debit .cents{
    font-size: 12px;
}