@font-face {
    font-family: 'Proxima';
    src: url('../fonts/Proxima-Nova-Soft.ttf');
}
/* Muli */
@import url("https://use.typekit.net/osa4bgf.css");
/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/* Open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Baloo Tammudu 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
/* Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
/* Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* PT Sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
/* Monstserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Rubik Medium */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');