.sidebar{
    width: 300px;
    padding: 20px 10px 0px 50px;
    box-sizing: border-box;
    height: inherit;
    background: rgb(25,25,25);
    background: linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 62%, rgba(24,24,24,1) 100%);
    font-family: 'Proxima';
}
.sidebar-content{
    position: fixed;
}
.sidebar-logo{
    font-size: 35px;
    color: hsl(71, 74%, 58%);
    margin-bottom: 40px;
    cursor: pointer;
}
.sidebar-logo:hover{
    color: yellowgreen;
}
.sidebar-logo:active{
    color: yellow;
}
.sidebar-items{
    display: flex;
    flex-direction: column;
}
.sidebar-item{
    margin: 19px 0px;
    cursor: pointer;
    transition: 0.2s;
    color: #a6a6a6;
    font-size: 19px;
}
.sidebar-item i{
    margin-right: 13px;
}
.sidebar-item:hover, .sidebar-item:active, .settings span:hover, .settings span:active{
    font-weight: 900;
    color: white;
}
.settings{
    position: fixed;
    bottom: 20px;
    color: #a6a6a6;
    font-size: 19px;
    word-spacing: 10px;
    cursor: pointer;
    color: #a6a6a6;
    box-sizing: border-box;
}
.settings span{
    word-spacing: 10px;
    margin-right: 45px;
    box-sizing: border-box;

}
.left-icon{
    padding: 7px 11px;
    padding-right: 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.left-icon:hover{
    color: white;
    background-color: black;
}