.sidebar-small{
    display: none;
}
.sidebar-items-small{
    display: flex;
    flex-direction: column;
}
.sidebar-item-small{
    padding: 8px;
    margin: 10px;
    font-size: 21px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    color: white;
    transition: 0.2s;
    border-radius: 5px;
}
.sidebar-item-small:hover, .sidebar-item-small:active{
    background-color: black;
    color: white;
    
}   
.settings-small{
    position: fixed;
    bottom: 5vh;
    left: 20px;
    text-align: center;
    font-size: 21px;
    color: white;
    cursor: pointer;
}
.settings-small:hover, .settings-small:active{
    color: #cccccc;
}
.right-icon-small{
    display: none;
}
@media screen and (max-width: 1255px) {
    span.top-header{
        font-size: 26px;
    }
    .card{
        width: 270px;
        height: 150px;
    }
    .tier, .new-card{
        width: 280px;
    }
}
@media screen and (max-width: 1235px) {
    .transfer-section{
        width: 500px;
    }
    .transfer-inputs{
        flex-direction: column;
    }
    input{
        margin: 10px 0px;
    }
    .card-input, .amount-input{
        width: 250px;
    }
    .card-section{
        margin: 0px;
    }
}
@media screen and (max-width: 1180px) {
    .sidebar{
        display: none;
    }
    .sidebar-small{
        display: block;
        background: linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 62%, rgba(24,24,24,1) 100%);
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 10px;
        width: 70px;
        box-sizing: border-box;
    }
    .sidebar-logo-small{
        color: hsl(71, 74%, 58%);
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .body{
        margin-left: 40px;
        overflow-y: scroll;
        overflow-x: auto;
    }
}
@media screen and (max-width: 1000px) {
    .dashboard-container{
        flex-direction: column;
    }
    .money-flow-container{
        position: absolute;
        top: 8vh;
        left: 400px;
    }
    .card-details{
        max-width: 280px;
    }
}
@media screen and (max-width: 950px) {
    .transfer-section{
        width: 400px;
        margin: 0px;
    }
    .chart-container{
        width: 380px;
    }
}
@media screen and (max-width: 920px) {
    .chart-container{
        width: 380px;
    }
}

@media screen and (max-width: 900px) {
    .body{
        padding-right: 0px;
    }
    .dashboard-container{
        width: 600px;
    }
    .money-flow-container{
        position: relative;
        top: 0;
        left: 0;
    }
}
@media screen and (max-width: 700px) {
    .body{
        padding-right: 0px;
    }
    .dashboard-container{
        width: 500px;
    }
}
@media screen and (max-width: 645px) {
    .body{
        padding-right: 0px;
    }
    span.menu-down{
        display: flex;
    }
    .menu-actions {
        display: none;
        position: absolute;
        top: 80px;
        right: 40px;
        flex-direction: column;
    }
    .menu-action, .avatar{
        height: fit-content;
        margin: 10px 0px;
    }
    .dashboard-container{
        width: 400px;
    }
    table{
        width: 420px;
    }
    
}
@media screen and (max-width: 550px){
    td{
        font-size: 13px;
    }
}
@media screen and (max-width: 500px){
    .money-flow-container, .chart-container{
        width: 330px;
    }
    .quick-transfer .head, .money-flow .head, .transactions-top > div > .head{
        font-size: 15px;
    }
    table{
        width: 350px;
    }
}
@media screen and (max-width: 490px){
    .tier, .new-card{
        width: 230px;
        padding: 15px;
    }
    .card-section, .quick-transfer, .transfer-section{
        max-width: 330px;
    }
    span.top-header{
        font-size: 18px;
    }
    .top-header .cents{
        font-size: 15px;
    }
    .card-input, .amount-input{
        width: 200px;
    }
    .money-flow{
        width: 250px;
    }
    .chart-container{
        width: 250px;
        height: 180px;
    }
    .transactions {
        width: 300px;
    }
    table{
        width: 250px;
    }
}