.top-header{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 1.1px;
}
.cents{
    font-size: 23px;
    color: gray;
}
.menu-actions{
    position: absolute;
    top: 40px;
    right: 40px;
}
span.menu-close{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    padding: 9px 13px;
    background-color: black;
    color: white;
    display: none;
    z-index: 100;
    flex-direction: row;
    justify-content: center;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
span.menu-down{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    padding: 10px 11px;
    background-color: #e6e6e6;
    display: none;
    z-index: 100;
    flex-direction: row;
    justify-content: center;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
span.menu-down:active{
    box-shadow: 0px 1px 4px -1px #333333;
}
.menu-action, .avatar{
    padding: 10px;
    border-radius: 6px;
    background-color: #e6e6e6;
    font-size: 17px;
    margin: 0px 11px;
    cursor: pointer;
    height: 30px;
    transition: 0.15s;
}
.menu-action:hover, .menu-action:active, .avatar:hover, .avatar:active{
    opacity: 0.7;
}
